In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('tripadvisor_hotel_reviews.csv')
df.sample(5)

                                                  Review  Rating
15937  perfect stay tokyo look hiwe`ve stayed crowne ...       4
9154   gem hotel lovely small hotel situated minutes ...       4
479    fair room quality unfriendly staff make sure r...       1
17899  stylish spot away crowds chose hotel johann ba...       5
998    business trip ok hotel fine evening business, ...       3

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [4]:
df.isnull().sum()

Review    0
Rating    0
dtype: int64